<% layout('/layouts/boilerplate') -%>

 <body> 
    <h3>Search here</h3>

    <!--form for u--><form method="POST" action="/listings"> 
    <input name="listing[name]" placeholder="enter title" type="text">
    <br><br>

    <textarea name="listing[description]" placeholder="description" type="text"></textarea>
    <br><br>
    
    <input name="listing[image]" 
    placeholder="enter img url" 
    type="text" />

    <input name="listing[price]" placeholder="enter price" type="number">
    <br><br>

    <input name="listing[country]" placeholder="country" type="text"> 
    <br><br>
     
    <input name="listing[location]" placeholder="location" type="text"> 
    <br><br> 
      
    <input name="listing[amenities]" placeholder="amenities" type="text"> 
    <br><br>

    <button type="submit">Submit</button>
</form>

 </body>
 </html>